body {
	background-image: url(../../assets/images/images-2.jpg);
	back

}

.sport{
	
	color: red;
	border: groove silver 15px;
}
.gif{ 
	border:solid #fdb813 5px;
}
#gifs-appear-here{
	border: ridge grey 25px;
	background-color: #7f7fff;
}

	
	
	
form {
	background-color: blue;
	width:75px;
}
#add-newSport {
	color:white;
	background-color: black;
	margin-right: 318px;
	
}
#newSport-input {
	background-color: white;
	color:black;
	margin-right: 318px;
}

p {
	color:white;
	font-size: 35px;
	opacity:.5;

}		
h1 {
	color: red;
	background-color: black;
	text-align:center;
}

